<div class="form-description">Find Bars Near You</div>
<div class="coordinates"> Your Location: {{lat}}, {{lng}}</div>
<div class="form-container">
    <form [formGroup]="preferencesForm" (submit)="submit(preferencesForm)">
        <mat-form-field>
            <input matInput formControlName="preferredRadius" placeholder="Radius from start">
            <mat-error *ngIf="preferencesForm.controls['preferredRadius'].errors?.pattern">Please enter a number</mat-error>
        </mat-form-field>
        <mat-checkbox formControlName="openNow" #checkbox>Open Now</mat-checkbox>
    
        <div class="button-container">
            <button class="submit-button" type="submit" mat-raised-button mat-button [disabled]="!preferencesForm.valid">Search</button>
            <button class="reset-button" mat-raised-button>Clear</button>
        </div>
    </form>
    
</div>