//should move this to a 

.form-description {
    font-size: 18px;
    margin-bottom: 15px;
    color: #897357;
}

.coordinates {
    padding-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;

    /* Border */
    .mat-form-field-appearance-outline .mat-form-field-outline {
        color: white;
    }

    .checkbox input {
        float: right;
    }

    // .slider-container {
    //     display: flex;
    //     flex-direction: column;
    //     margin-top: 15px;
    //     mat-label {
    //         margin-bottom: 5px;
    //     }
    //     .price-options {
    //         display: flex;
    //         flex-direction: row;
    //         justify-content: space-between;
    //     }
    // }
}

.button-container {
    display: flex;
    flex-direction: row;
    padding-top: 30px;

    .submit-button {
        background-color: #4C956C;
        color: #FEFEE3;
        margin-right: 30px;
        width: 100px;
    }

    .reset-button {
        color: #fefee3;
        background-color: #E48F76;
        width: 100px;
    }
}