.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4C956C;
    margin-bottom: 30px;

    .title-container {
        display: flex;
        flex-direction: row;
        align-items: center;

        .title {
            font-size: 48px;
            color: #f8a351;
        }
    }

    .subtitle {
        color: #FEFEE3;
        font-size: 18px;
    }
}

.comp-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    .form-and-results-container {
        flex-direction: column;
    }
}