.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;

    .title-container {
        display: flex;
        flex-direction: row;
        align-items: center;

        .title {
            font-size: 48px;
            color: #897357;
        }
    }

    .subtitle {
        color: #4C956C;;
        font-size: 18px;
    }
}

.comp-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}